TrainingFramework.sdf
TrainingFramework.v12.suo

Utilities/Debug/**
TrainingFramework/Debug/**
BIN/**
.vs/TrainingFramework/v16/**
Debug/**
.vs/TrainingFramework/v16/.suo
.vs/TrainingFramework/v16/Browse.VC.db
.vs/TrainingFramework/v16/Solution.VC.db
.vs/TrainingFramework/v16/Browse.VC.db
